.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5A5A5A;
    border-radius: .5rem;
    margin-bottom: 0.625rem;
    transition:     .2s linear;
    color: #5A5A5A;
}

.primary-btn {
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;
}

.secondary-btn {
    height: 4rem;
    width: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.icon {
    font-size: 1.7rem;
}


.btn:hover  {
    transform: scale(1.2);
}

.header {
    height: 6.25rem;
    background-color: #000000;
}

.header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-title {
    color: #FFFFFF;
    font-size: 2.5rem;
}

/*-----------------------------------Home page------------------------------------*/

.headers {
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
}

.home {
    background: url(../assets/app_cover.jpg)no-repeat center center/cover;
    min-height: 80vh;
    padding: 2rem;
    border-radius:       1.5rem;
    border:              3px solid rgba(249, 249, 249, .1);
    box-shadow:         rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(249 249 249 / 73%) 0px 16px 10px -10px;
    display: flex;
    align-items: center;
}

.home-content {
    max-width: 60rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h2 {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
}

/*--------------------------------------------------------------------------------*/


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid #B2ACBA;
}

.btn-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}


.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-directors,
.buttons-movies {
    position: absolute;
    right: 0.938rem;
}

.buttons-directors {
    top: 50%;
    transform: translateY(-50%);
}

.buttons-movies { top: 1.25rem; }

.movie {
    position: relative;
    background-color:    #FAFAFC;
    padding:             1.25rem;
    border-radius:       1.5rem;
    border:              3px solid rgba(249, 249, 249, .1);
    box-shadow:         rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(249 249 249 / 73%) 0px 16px 10px -10px;
    transition:         all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.movie:hover {
    box-shadow:    rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(249 249 249 / 72%) 0px 30px 22px -10px;
    transform:     scale(1.05);
    border-color:  rgba(249, 249, 249, .8);
}

.movie-cover {
    max-height:     17rem;
    max-width:      17rem;
    border-radius:  .5rem;
}


.movie-details {
    display:      flex;
    align-items:  center;
    gap:          2rem;
}

.movie-title { margin-bottom: 0.625rem; }



.plot {
    margin-top:   2rem;
    padding-top:  1rem;
    border-top:   1px solid #AAAAAA;
    width: 90%;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: .5rem;
}


/*Director CSS*/

.avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 0.938rem;
}

.director-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.2rem 0.938rem;
    border-bottom: 1px solid #B2ACBA;
    border-left:  0.313rem solid;
    border-left-color: transparent;
    transition:     .3s linear;
}

.director-box:hover {
    border-left-color: #39465D;
}



.director-name,
.director-nationality,
.director-date-of-birth {
    margin-right: 0.938rem;
    color: #39465D;
}

/*------------------------------Create page-------------------------------*/

.input-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #AAAAAA;
    border-radius: .5rem;
    padding: 3.75rem;
    border:              3px solid rgba(249, 249, 249, .1);
    box-shadow:    rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(249 249 249 / 72%) 0px 30px 22px -10px;

}


.input-field {
    display: block;
    width: 40rem;
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: #F4F3F5;
    outline: none;
    border: none;
    margin-bottom: 1.4286rem;
    border-bottom: 3px solid;
    border-bottom-color: transparent;
}

.input-field:focus { border-bottom-color: #6200EA; }

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #211138;
    opacity: .75;
    font-weight: 600;
    min-width: 10rem;
}

.input-field::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: #211138;
    opacity: .25;
}

.input-field--textarea {
    height:       9.375rem;
    margin-bottom: 1.4286rem;
}

.input-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.75rem;
 }

/*-----------------------------------------------------------------------*/




@media (max-width: 991px){
    html{ font-size: 55%; }

    .movie-container {
        width: 100% !important;
        padding: 0 2rem;
     }


    }

    @media (max-width: 768px){

        h2 { font-size: 2rem;}

            img {
                height:  15rem;
                width:   15rem;
            }

            .avatar {
                height: 3rem;
                width: 3rem;
            }

            h3 { font-size: 1.5rem; }

            h6 { font-size: 0.75rem; }

            span, p { font-size: .768rem; }

     .icon {
                font-size: 1rem;
            }

            .buttons {
                margin-left: 0;
            }

            .primary-btn {
                height: 4rem;
                width: 4rem;
                font-size: 1.5rem;
            }

            .secondary-btn {
                height: 3rem;
                width: 3rem;
            }


            .home-content {
                max-width: 40rem;
            }

            .input-box { display: block; }

            .input-field { width: 100%;}

       }

    @media (max-width: 450px) {
        html { font-size: 50%; }
      }